@import "semantic-ui";

.chatbox {
    height: 450px;
}

#messages {
    height: 15em;
    overflow: auto; //this will add scrolling
}

.input {
    button {
        display: none; //hide input button
    }
}